@model NikNak.ViewModels.FitBitDataViewModel

@{
    ViewBag.Title = "title";
}

<h2>Data feed from fitbit</h2>

<h3>User: @Model.UserName</h3>
@foreach(var dataItem in Model.Activities)
{
    <p>Date: @dataItem.Date | ActivityType: @dataItem.ActivityTypeName</p>
}


<a class="btn btn-primary btn-large" id="get-chart" href="@Url.Action("GetChart", "Data")">Graph It »</a>

<div id="chart-area" class="hide row">
    <div id="chart" class="span10"></div>
    <div id="charttype" class="span2">
        
        <div>
            <a class="set-chart-type" href="@Url.Action("GetChart", "Data", new { type = 17 })">View as Pie</a>
        </div>
        <div>
            <a class="set-chart-type" href="@Url.Action("GetChart", "Data", new { type = 2 })">View as Bubble</a>
        </div>
        <div>
            <a class="set-chart-type" href="@Url.Action("GetChart", "Data", new { type = 5 })">View as Line</a>
        </div>
        <div>
            <a class="set-chart-type" href="@Url.Action("GetChart", "Data", new { type = 7 })">View as Bar</a>
        </div>
    </div>
</div>